<html>
    <head>
      <title>Registration</title>
      <style>
          p{
              color: #CC71CC
          }
      </style>
    </head>
    <body>
        <h1>Registration Now</h1>

       
            {% if messages %}
                {% for message in messages %}
                    <p>{{message}}</p>
                {% endfor %}
            {% endif %}
    

      <form action='/register' method='POST'>
        {% csrf_token %}
        First Name:<input type="text" name="first_name">
        <p></p>
        Last Name:<input type="text" name="last_name">
        <p></p>
        Email:<input type="text" name="email">
        
        Date of Birth:<input type="date" name="birthday">
        <p></p>
        
          
        Password:<input type="password" name="password">
        <p>Password must be at least 6 characters</p>
        Confirm Password:<input type="password" name="confirmation_password">
        <p></p>
        <input type="submit" value="Register">
      </form>

      <h2>Login</h2>
      <form action="/login" method="POST">
          {% csrf_token %}
          <!-- <div class="form-group"> -->
              <label for="email">Email</label>
              <input type="email" name="email">
          <!-- </div> -->
          <!-- <div class="form-group"> -->
              <label for="password">Password</label>
              <input type="password" name="password">
          <!-- </div> -->
          <input type="submit" value='Login'>
      </form>


     

    </body>
    </html>
    